
root = true

[*]
charset = utf-8

[*.{appxmanifest,axml,build,config,csproj,resx,StyleCop,targets,xml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.cs]
indent_style = tab
tab_width = 4
csharp_new_line_before_members_in_object_initializers = false
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required:error
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_prefer_braces = true:error
csharp_new_line_before_open_brace = all
csharp_style_namespace_declarations = file_scoped:error
csharp_preserve_single_line_statements = false:error
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.resharper_style = AaBb, aaBb
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.method_rule.import_to_resharper = as_predefined
dotnet_naming_rule.method_rule.resharper_style = AaBb, AaBb_AaBb
dotnet_naming_rule.method_rule.severity = warning
dotnet_naming_rule.method_rule.style = upper_camel_case_style
dotnet_naming_rule.method_rule.symbols = method_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = lower_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity = warning
dotnet_naming_rule.private_instance_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_instance_fields_rule.symbols = private_instance_fields_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.method_symbols.applicable_accessibilities = *
dotnet_naming_symbols.method_symbols.applicable_kinds = method
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

resharper_align_linq_query = true
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_while = required
resharper_for_simple_types = use_explicit_type
resharper_indent_access_specifiers_from_class = true
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_switch_labels = true
resharper_object_creation_when_type_evident = target_typed
resharper_object_creation_when_type_not_evident = target_typed
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_within_single_line_array_initializer_braces = false
resharper_remove_blank_lines_near_braces_in_code=true
resharper_comment_typo_highlighting = none
resharper_enforce_do_while_statement_braces_highlighting = suggestion
resharper_enforce_foreach_statement_braces_highlighting = suggestion
resharper_enforce_for_statement_braces_highlighting = suggestion
resharper_enforce_if_statement_braces_highlighting = suggestion
resharper_enforce_while_statement_braces_highlighting = suggestion
resharper_suggest_var_or_type_built_in_types_highlighting = hint
resharper_xmldoc_indent_text = do_not_touch
resharper_sort_usings_with_system_first = false
resharper_remove_blank_lines_near_braces_in_code = true
resharper_method_or_operator_body = expression_body
resharper_wrap_before_first_type_parameter_constraint = true
resharper_place_type_constraints_on_same_line = true
resharper_wrap_multiple_type_parameter_constraints_style = true
resharper_wrap_before_extends_colon = true
resharper_max_enum_members_on_line = 1
resharper_new_line_before_else = true
resharper_new_line_before_while = true
resharper_new_line_before_catch = true
resharper_new_line_before_finally = true
resharper_wrap_arguments_style = wrap_if_long
resharper_wrap_parameters_style = wrap_if_long
resharper_place_constructor_initializer_on_same_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_initializer_on_single_line = true
resharper_max_initializer_elements_on_line = 1
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_max_array_initializer_elements_on_line = 1
resharper_wrap_array_initializer_style = chop_always
resharper_wrap_before_ternary_opsigns = true
resharper_wrap_ternary_expr_style = chop_if_long
resharper_indent_invocation_pars = inside
resharper_indent_switch_labels = true
resharper_indent_type_constraints = true
resharper_keep_blank_lines_in_code = 1
resharper_blank_lines_around_region = 1
resharper_blank_lines_inside_region = 1
resharper_blank_lines_after_block_statements = 1
resharper_blank_lines_around_block_case_section = 1
resharper_blank_lines_around_multiline_case_section = 1
resharper_blank_lines_after_using_list = 1
resharper_blank_lines_between_using_groups = 0
resharper_blank_lines_inside_namespace = 0
resharper_blank_lines_after_file_scoped_namespace_directive = 1
resharper_blank_lines_inside_type = 0
resharper_blank_lines_around_property = 1
resharper_blank_lines_around_accessor = 0
resharper_blank_lines_around_single_line_accessor = 0
resharper_blank_lines_around_invocable = 1
resharper_blank_lines_around_single_line_invocable = 1
resharper_blank_lines_around_type = 1
resharper_csharp_max_line_length = 150
resharper_xmldoc_max_line_length = 150
resharper_place_type_attribute_on_same_line = never
resharper_place_attribute_on_same_line = never
resharper_place_method_attribute_on_same_line = never
resharper_place_accessorholder_attribute_on_same_line = never
resharper_place_accessor_attribute_on_same_line = never
resharper_place_field_attribute_on_same_line = never
resharper_place_record_field_attribute_on_same_line = always
resharper_place_type_constraints_on_same_line = true